@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}
* {
    margin: 0;
    Padding: 0;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}
body {
    background-color: darkgrey;
}
a {
    text-decoration: none;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-left { 
    flex-grow: 1 ;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border-bottom: 2px solid aliceblue;
}

.nav-right {
    justify-content: right;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    border-bottom: 2px solid aliceblue;
}

.con-0 {
    padding-top: 250px;
   width: auto;
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg');
   background-size: cover;
   background-position: center bottom;
   background-repeat: no-repeat;
   min-width: 0;
   min-height: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    width: 100%;
    margin-bottom: 30px;
}

h2 { 
    text-align: center;
    font-size: 50px;
    font-weight: 10;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 250px;
}

h3 {
    font-size: 40px;
    padding-bottom: 40px;
}

p {
    font-size: 20px;
    font-weight: lighter ;
}

.con-1 {
    display: flex;
    background-color: black;
}

.con-2 {
    display: flex;
    background-color: rgb(20, 20, 20);
    justify-content: right;
}

.con-3 {
    display: flex;
    background-color: rgb(30, 30, 30);
}

.side-text {
   flex-grow: 1;
    margin: 70px;
}

.freshest-hr {
    width: 33%;
    margin: 0 auto;
    display: block;
}
